body {
background: #EBEBEB;
font-family: 'Open Sans', sans-serif;
color: #7d7d7d;
font-size: 16px;
font-weight: 300;
line-height: 1.6em;
}

h1, h2, h3 {
  font-family: 'Monserrat', sans-serif;
}

h1 {
  color: #21ABA5;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-weight: 300;
  font-size: 22px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #a3a3a3;
}

a:hover {
  color: #7a7a7a;
}

table {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  border-spacing: 2px;
}

.container {
  width: 700px;
  margin: 30px auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center
}

.img-circle {
  border-radius: 100px;
}

#img-profile {
  width: 200px;
  height: 200px;
  border: 3px solid #ccccc;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

.list-inline li i {
  font-size: 28px;
}

.fa {
  display: inline-block;
  text-rendering: auto;
  font: normal normal normal 16px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
}

li {
  display: list-item;
}

img {
  width: 100px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#movies {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies td {
  padding: 10px;
}

.btn-green{
  background-color: #21ABA5;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.btn-green:hover {
  background-color: #1a5e63;
  color: white;
}
